{{- $profiles := list "personal" "minimal" -}}
{{- $profile := env "PROFILE" -}}
{{- $skipSteps := splitList "," (replace " " "" (env "SKIP_STEPS")) -}}
{{- $skipGithub := has "github" $skipSteps -}}
{{- if not (has $profile $profiles) -}}
{{- $profile = promptChoiceOnce . "profile" "Setup profile" $profiles "personal" -}}
{{- end -}}
# chezmoi configuration
# This template is used to generate ~/.config/chezmoi/chezmoi.toml

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    profile = {{ $profile | quote }}
    name = "{{ promptStringOnce . "name" "Your full name" }}"
    email = "{{ promptStringOnce . "email" "Your email address" }}"
    github_auth = {{ not $skipGithub }}
    github_username = "{{ if not $skipGithub }}{{ promptStringOnce . "github_username" "Your GitHub username" }}{{ end }}"

[git]
    autoCommit = false
    autoPush = false

[diff]
    pager = "delta --navigate --line-numbers --paging=always"
