# Git configuration managed by chezmoi

[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[init]
    defaultBranch = main

[log]
    date = iso

[trim]
    bases = "develop,master,main"

[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    navigate = true
    side-by-side = false
    line-numbers = true
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = true

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    st = status -sb
    ci = commit
    cm = commit -m
    ca = commit --amend
    br = branch
    co = checkout
    sw = switch
    lg = log --oneline --graph --decorate
    ll = log --pretty=format:'%C(yellow)%h%Creset %s %C(cyan)<%an>%Creset %C(green)(%cr)%Creset' --abbrev-commit
    df = diff
    dc = diff --cached
    undo = reset HEAD~1 --mixed
    sl = stash list
    sp = stash pop
    ss = stash save
    cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master' | xargs -n 1 git branch -d"
    update = submodule update --init --recursive
    foreach = submodule foreach
    amend = commit --amend -m

{{ if eq .chezmoi.os "darwin" -}}
[credential]
    helper = osxkeychain
{{ end -}}

{{ if ne (toString (get . "github_auth")) "false" -}}
[url "git@github.com:"]
    insteadOf = https://github.com/
{{ end -}}

{{ if .github_username -}}
[github]
    user = {{ .github_username | quote }}
{{- end }}
