{{ if eq .chezmoi.os "darwin" -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{ end -}}

# SSH Configuration
# Managed by chezmoi

# Global defaults
Host *
    AddKeysToAgent yes
{{ if eq .chezmoi.os "darwin" -}}
    UseKeychain yes
{{ end -}}
    IdentityFile ~/.ssh/id_ed25519
    # Keep connections alive
    ServerAliveInterval 60
    ServerAliveCountMax 3

# GitHub
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519

# GitLab
Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/id_ed25519

# Bitbucket
Host bitbucket.org
    HostName bitbucket.org
    User git
    IdentityFile ~/.ssh/id_ed25519

# Example: Personal server
# Host myserver
#     HostName server.example.com
#     User username
#     Port 22
#     IdentityFile ~/.ssh/id_ed25519

# Example: Work server with jump host
# Host work-server
#     HostName internal.work.com
#     User workuser
#     ProxyJump jumphost.work.com
