[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=systemd-modules-load.service

[Service]
Type=simple
ExecStart=/usr/local/bin/kanata --cfg {{HOME}}/.config/kanata/kanata.kbd
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
